.border{
    border: 0.5px solid black;
    margin: 10px;
    box-shadow: 10px 20px 30px gainsboro;
}
.left{
    float: left;
    width: 50%;
}

.right{
    float: right;
    width: 50%;
}

footer{
    clear: both;
}

section, article{
    height: 150px;
}

aside{
    height: 306px;
}

body{
    text-align: center;
    background-image: url(Image/Photo.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 200vh;
}

nav{
text-shadow: 5px 5px 5px goldenrod ;
animation: normal;
position: sticky;
top: 0%;
}